<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <%- include('./partials/header.ejs')%>
    <div class="blogs content">
      <h2>All Blogs</h2>
      <h1><%= blog.title %></h1>
      <p><%= blog.snippet%></p>
      <a href="/"><button class="single">back</button></a><br /><br />
      <hr />
    </div>
    <%- include('./partials/footer.ejs')%>
  </body>
</html>
